/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

button {
  cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 6px 17px -11px #000000;
          box-shadow: 0px 6px 17px -11px #000000;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto;
  border-radius: 0 30px 0 30px;
  padding: 20px;
}

.form-container__title {
  color: #892182;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.form-container__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.form-container__wrapper--title {
  font-weight: 500;
  margin-bottom: 5px;
}

.form-container__wrapper--password-container, .form-container__wrapper--input {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #892182;
  border-radius: 0 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
}

.form-container__wrapper--password-container--input, .form-container__wrapper--input--input {
  border: none;
  outline: transparent;
}

.form-container__wrapper--password-container--img, .form-container__wrapper--input--img {
  width: 30px;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.form-container__wrapper__terms-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.form-container__wrapper__terms-wrapper--checkbox {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.form-container__wrapper__terms-wrapper--link {
  color: #03a9f4;
}

.form-container__wrapper--button {
  width: 100%;
  height: 50px;
  background-color: #892182;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  border-radius: 0 15px 0px 15px;
}

.form-container__wrapper--password-container {
  width: 100%;
}

.form-container__wrapper--password-container--input {
  width: 100%;
}

.alert {
  color: #e62f06;
  text-decoration: underline;
  font-weight: 700;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */